/* p {
    color: red
    } 
*/

/* carousel-control-next-icon{
    color:red
} 
*/

/* .carousel-control-next,
.carousel-control-prev , .carousel-indicators {
    filter: invert(100%);
} 
*/

/* .container{
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
}

.body{
    background-color: cadetblue;
} */